@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');

ion-content{
  --padding-start: 32px;
  --padding-top: 2px;
  --padding-end: 32px;
  font-family: 'Aref Ruqaa Ink', sans-serif;
  --background: #F8D5DF url('../../assets/group1.png') no-repeat center center / cover !important;
}

h1{
  font-weight:1000;
  font-size: 28px;
  text-align: center;
}

h4{
  font-weight: 1000;
  text-align: end;
}

ion-input{
  text-align: center;
}

ion-item{
  font-weight: 700;
  border-radius: 5px;
}

ion-button{
  width: calc(100% - 94px);
  margin-left: 3%;
  position: absolute;
  bottom: 32px;
  font-size: 22px;
  font-weight: 900;
  font-family: 'Aref Ruqaa Ink', sans-serif;
  --color: Black;
  --background: #F16398;
}

ion-modal{
  margin-bottom: 420px;
  margin-left: 150px;
}

#resposta{
  --width: fit-content;
  --min-width: 50%;
  --height: fit-content;
  --border-radius: 15px;
  text-align: center;
  --background: #F16398;
  color: white;
}

.wrapper{
  margin-bottom: 10px;
}